<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
    <title>订单管理界面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="/resource/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/resource/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/resource/lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/resource/lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="/resource/lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="/resource/lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/resource/lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/resource/lib/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="/resource/css/style.css">
    <link rel="stylesheet" type="text/css" href="/resource/css/themes/flat-blue.css">
</head>

<body class="flat-blue">
<div class="app-container">
    <div class="row content-container">
        <nav class="navbar navbar-default navbar-fixed-top navbar-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-expand-toggle">
                        <i class="fa fa-bars icon"></i>
                    </button>
                    <ol class="breadcrumb navbar-breadcrumb">
                        <li class="active">后台管理</li>
                    </ol>
                    <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                        <i class="fa fa-th icon"></i>
                    </button>
                </div>
                <div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown profile">
                            <a id="tabName" href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">你的用户名 <span class="caret"></span></a>
                            <ul class="dropdown-menu animated fadeInDown">
                                <li class="profile-img">
                                    <img src="/resource/img/profile/picjumbo.com_HNCK4153_resize.jpg" class="profile-img">
                                </li>
                                <li>
                                    <div class="profile-info">
                                        <h4 class="username" id="tabAdminName">你的用户名</h4>
                                        <div class="btn-group margin-bottom-2x"> <!-- role="group"-->
                                            <!--<button type="button" class="btn btn-default"><i class="fa fa-user"></i> 我的</button>-->
                                            <button type="button" class="btn btn-default"><i class="fa fa-sign-out"></i> 退出</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="side-menu sidebar-inverse">
            <nav class="navbar navbar-default" role="navigation">
                <div class="side-menu-container">
                    <div class="navbar-header">
                        <div class="navbar-brand">
                            <div class="icon fa fa-paper-plane"></div>
                            <div class="title">欢迎使用本平台</div>
                        </div>
                        <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                            <i class="fa fa-times icon"></i>
                        </button>
                    </div>
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/toIndex">
                                <span class="icon fa fa-tachometer"></span><span class="title">主页</span>
                            </a>
                        </li>


                        <li class="panel panel-default dropdown " >
                            <a data-toggle="collapse" href="#dropdown-user">
                                <span class="icon fa fa-desktop"></span><span class="title">用户管理</span>
                            </a>
                            <!-- Dropdown level 1 -->
                            <div id="dropdown-user" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <li><a href="/toUser">普通用户管理</a>
                                        </li>
                                        <li><a href="/toParkmanager">停车场管理员管理</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="panel panel-default dropdown active">
                            <a data-toggle="collapse" href="#dropdown-order">
                                <span class="icon fa fa-file-text-o"></span><span class="title">订单管理</span>
                            </a>
                            <!-- Dropdown level 1 -->
                            <div id="dropdown-order" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <li><a href="/toOrders">已完成订单</a>
                                        </li>
                                        <li><a href="/toGenerate">可共享车位</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="panel panel-default dropdown">
                            <a data-toggle="collapse" href="#dropdown-parking">
                                <span class="icon fa fa-archive"></span><span class="title">停车场管理</span>
                            </a>
                            <!-- Dropdown level 1 -->
                            <div id="dropdown-parking" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <li><a href="/toParking">查看停车场</a>
                                        </li>
                                        <li><a href="/toNewParking">新增停车场</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li id="li-parkinglot">
                            <a href="/toParkinglot">
                                <span class="icon fa fa-table"></span><span class="title">查看车位</span>
                            </a>
                        </li>
                        <li>
                            <a href="/toLicense">
                                <span class="icon fa fa-thumbs-o-up"></span><span class="title">关于</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>
        <!-- Main Content -->
        <div class="container-fluid">
            <div class="side-body">
                <div class="page-title">
                    <span class="title">全部共享订单</span>
                    <div class="description">查看共享的全部订单信息</div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">

                                <div class="card-title">
                                    <div class="title">共享订单列表</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="display" cellspacing="0" width="100%"  id="orderDataTable">
                                    <thead>
                                    <tr>
                                        <th>订单号</th>
                                        <th>停车者车牌号</th>
                                        <th>停车场名称</th>
                                        <th>车位号</th>
                                        <th>停车总时长</th>
                                        <th>价格</th>
                                        <th>状态</th>

                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>订单号</th>
                                        <th>停车者车牌号</th>
                                        <th>停车场名称</th>
                                        <th>车位号</th>
                                        <th>停车总时长</th>
                                        <th>价格</th>
                                        <th>状态</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="app-footer">
        <div class="wrapper">
            <span class="pull-right">2.1 <a href="#"><i class="fa fa-long-arrow-up"></i></a></span> © 2015 Copyright.
        </div>
    </footer>
</div>
</body>
<!-- Javascript Libs -->
<script type="text/javascript" src="/resource/lib/js/jquery.min.js"></script>
<script type="text/javascript" src="/resource/lib/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/resource/lib/js/Chart.min.js"></script>
<script type="text/javascript" src="/resource/lib/js/bootstrap-switch.min.js"></script>

<script type="text/javascript" src="/resource/lib/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="/resource/lib/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/resource/lib/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/resource/lib/js/select2.full.min.js"></script>
<script type="text/javascript" src="/resource/lib/js/ace/ace.js"></script>
<script type="text/javascript" src="/resource/lib/js/ace/mode-html.js"></script>
<script type="text/javascript" src="/resource/lib/js/ace/theme-github.js"></script>
<!-- Javascript -->
<script type="text/javascript" src="/resource/js/app.js"></script>


<script type="text/javascript">
    // 点击行触发
    /*$(function () {
     $("table > tbody > tr").click(function () {
     alert("666:");
     });
     })*/

    $(document).ready( function () {
        $('#orderDataTable').DataTable({
            "ajax": {
                "url": "/order/getOrderALLList",
                "type": "GET",
                "dataSrc": 'data'   //默认为data,这里定义为空，则只需要传不带属性的数据（即前面不带data的属性）
            },
            "columns": [
                {"data":"orderId"},
                {"data":"parkerPlateNum"},
                {"data":"parkingName"},
                {"data":"plateNum"},
                {"data":"parkingTotalTime"},
                {"data":"price"},
                {"data" :  function (data) {
                    if(data.status == 0)
                        return "<button class='btn btn-info btn-xs'>待确定</button>" ;
                    if(data.status == 1)
                        return "<button class='btn btn-warning btn-xs'>已入场</button>" ;
                    if(data.status == 2)
                        return "<button class='btn btn-danger btn-xs' >已完成</button>" ;
                    }
                }
            ]
        });
        //给行绑定选中事件
        $('#orderDataTable tbody').on( 'click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                $(this).addClass('selected');
                // $('#demoModal').modal("show");
                // var column1 = table.row('.selected').data().wxId;
                // var column2 = table.row('.selected').data().wxName;
                // var column3 = table.row('.selected').data().name;
                // var column4 = table.row('.selected').data().age;
                // var column5 = table.row('.selected').data().phone;
                // var column6 = table.row('.selected').data().carNum;
                // var column7 = table.row('.selected').data().createTime;
                // var column8 = table.row('.selected').data().lastTime;

            }
        } );
    } );
</script>
</html>
