<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.front.dao.AdminMapper" >
  <resultMap id="BaseResultMap" type="com.front.entity.Admin" >
    <constructor >
      <idArg column="admin_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="admin_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="admin_password" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="parking_id" jdbcType="BIGINT" javaType="java.lang.Long" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    admin_id, admin_name, admin_password, parking_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from admin
    where admin_id = #{adminId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from admin
    where admin_id = #{adminId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.front.entity.Admin" >
    insert into admin (admin_id, admin_name, admin_password, 
      parking_id)
    values (#{adminId,jdbcType=BIGINT}, #{adminName,jdbcType=VARCHAR}, #{adminPassword,jdbcType=CHAR}, 
      #{parkingId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.front.entity.Admin" >
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="adminName != null" >
        admin_name,
      </if>
      <if test="adminPassword != null" >
        admin_password,
      </if>
      <if test="parkingId != null" >
        parking_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adminId != null" >
        #{adminId,jdbcType=BIGINT},
      </if>
      <if test="adminName != null" >
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminPassword != null" >
        #{adminPassword,jdbcType=CHAR},
      </if>
      <if test="parkingId != null" >
        #{parkingId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.front.entity.Admin" >
    update admin
    <set >
      <if test="adminName != null" >
        admin_name = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminPassword != null" >
        admin_password = #{adminPassword,jdbcType=CHAR},
      </if>
      <if test="parkingId != null" >
        parking_id = #{parkingId,jdbcType=BIGINT},
      </if>
    </set>
    where admin_id = #{adminId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.front.entity.Admin" >
    update admin
    set admin_name = #{adminName,jdbcType=VARCHAR},
      admin_password = #{adminPassword,jdbcType=CHAR},
      parking_id = #{parkingId,jdbcType=BIGINT}
    where admin_id = #{adminId,jdbcType=BIGINT}
  </update>

  <select id="getAdminByName" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column_List">
    </include>
    FROM admin
    WHERE admin.admin_name=#{adminName}
  </select>

  <select id="getAdminByNameAndPassword" resultMap="BaseResultMap" parameterType="java.util.Map">
    SELECT
    <include refid="Base_Column_List">
    </include>
    FROM admin
    WHERE admin.admin_name=#{adminName} AND admin.admin_password=#{adminPassword}
  </select>

  <select id="queryAll" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List">
    </include>
    FROM admin
  </select>

</mapper>