<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.front.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.front.entity.Order" >
    <constructor >
      <idArg column="order_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="user_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="generate_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="order_parking_begin" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="order_parking_end" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="order_parking_totaltime" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="order_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="order_status" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="order_createtime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, user_id, generate_id, order_parking_begin, order_parking_end, order_parking_totaltime, 
    order_price, order_status, order_createtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from order
    where order_id = #{orderId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from order
    where order_id = #{orderId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.front.entity.Order" >
    insert into order (order_id, user_id, generate_id, 
      order_parking_begin, order_parking_end, order_parking_totaltime, 
      order_price, order_status, order_createtime
      )
    values (#{orderId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{generateId,jdbcType=BIGINT}, 
      #{orderParkingBegin,jdbcType=VARCHAR}, #{orderParkingEnd,jdbcType=VARCHAR}, #{orderParkingTotaltime,jdbcType=DECIMAL}, 
      #{orderPrice,jdbcType=DECIMAL}, #{orderStatus,jdbcType=CHAR}, #{orderCreatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.front.entity.Order" >
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="generateId != null" >
        generate_id,
      </if>
      <if test="orderParkingBegin != null" >
        order_parking_begin,
      </if>
      <if test="orderParkingEnd != null" >
        order_parking_end,
      </if>
      <if test="orderParkingTotaltime != null" >
        order_parking_totaltime,
      </if>
      <if test="orderPrice != null" >
        order_price,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="orderCreatetime != null" >
        order_createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="generateId != null" >
        #{generateId,jdbcType=BIGINT},
      </if>
      <if test="orderParkingBegin != null" >
        #{orderParkingBegin,jdbcType=VARCHAR},
      </if>
      <if test="orderParkingEnd != null" >
        #{orderParkingEnd,jdbcType=VARCHAR},
      </if>
      <if test="orderParkingTotaltime != null" >
        #{orderParkingTotaltime,jdbcType=DECIMAL},
      </if>
      <if test="orderPrice != null" >
        #{orderPrice,jdbcType=DECIMAL},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=CHAR},
      </if>
      <if test="orderCreatetime != null" >
        #{orderCreatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.front.entity.Order" >
    update order
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="generateId != null" >
        generate_id = #{generateId,jdbcType=BIGINT},
      </if>
      <if test="orderParkingBegin != null" >
        order_parking_begin = #{orderParkingBegin,jdbcType=VARCHAR},
      </if>
      <if test="orderParkingEnd != null" >
        order_parking_end = #{orderParkingEnd,jdbcType=VARCHAR},
      </if>
      <if test="orderParkingTotaltime != null" >
        order_parking_totaltime = #{orderParkingTotaltime,jdbcType=DECIMAL},
      </if>
      <if test="orderPrice != null" >
        order_price = #{orderPrice,jdbcType=DECIMAL},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=CHAR},
      </if>
      <if test="orderCreatetime != null" >
        order_createtime = #{orderCreatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.front.entity.Order" >
    update order
    set user_id = #{userId,jdbcType=BIGINT},
      generate_id = #{generateId,jdbcType=BIGINT},
      order_parking_begin = #{orderParkingBegin,jdbcType=VARCHAR},
      order_parking_end = #{orderParkingEnd,jdbcType=VARCHAR},
      order_parking_totaltime = #{orderParkingTotaltime,jdbcType=DECIMAL},
      order_price = #{orderPrice,jdbcType=DECIMAL},
      order_status = #{orderStatus,jdbcType=CHAR},
      order_createtime = #{orderCreatetime,jdbcType=TIMESTAMP}
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
</mapper>