<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.front.dao.ParkingLotMapper" >
  <resultMap id="BaseResultMap" type="com.front.entity.ParkingLot" >
    <constructor >
      <idArg column="parkinglot_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="parking_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="parkinglot_num" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_id" jdbcType="BIGINT" javaType="java.lang.Long" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    parkinglot_id, parking_id, parkinglot_num, user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from parkinglot
    where parkinglot_id = #{parkinglotId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from parkinglot
    where parkinglot_id = #{parkinglotId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.front.entity.ParkingLot" >
    insert into parkinglot (parkinglot_id, parking_id, parkinglot_num, 
      user_id)
    values (#{parkinglotId,jdbcType=BIGINT}, #{parkingId,jdbcType=BIGINT}, #{parkinglotNum,jdbcType=VARCHAR}, 
      #{userId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.front.entity.ParkingLot" >
    insert into parkinglot
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="parkinglotId != null" >
        parkinglot_id,
      </if>
      <if test="parkingId != null" >
        parking_id,
      </if>
      <if test="parkinglotNum != null" >
        parkinglot_num,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="parkinglotId != null" >
        #{parkinglotId,jdbcType=BIGINT},
      </if>
      <if test="parkingId != null" >
        #{parkingId,jdbcType=BIGINT},
      </if>
      <if test="parkinglotNum != null" >
        #{parkinglotNum,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.front.entity.ParkingLot" >
    update parkinglot
    <set >
      <if test="parkingId != null" >
        parking_id = #{parkingId,jdbcType=BIGINT},
      </if>
      <if test="parkinglotNum != null" >
        parkinglot_num = #{parkinglotNum,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
    </set>
    where parkinglot_id = #{parkinglotId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.front.entity.ParkingLot" >
    update parkinglot
    set parking_id = #{parkingId,jdbcType=BIGINT},
      parkinglot_num = #{parkinglotNum,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT}
    where parkinglot_id = #{parkinglotId,jdbcType=BIGINT}
  </update>
</mapper>